body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: white;
}

.hidden {
  display: none;
}

#logoutCircle {
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50%;
  margin: 200px auto;
  cursor: pointer;
}
